@keyframes videoAnim {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes hideVideoAnim {
  from {
    width: 100%;
    height: 100%;
  }

  to {
    width: 0%;
    height: 0%;
  }
}

@keyframes showGifAnim {
  from {
  width: 0%;
  left: 19%;
  top: 89%;
  }

  to {
      width: 86%;
      left: 50%;
      top: 50%;
  }
}

@keyframes hideGifAnim {
  from {
    width: 86%;
    left: 50%;
    top: 50%;
  }

  to {
    width: 0%;
    left: 19%;
    top: 89%;  }
}

@keyframes showBody {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes showVideoPic {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes showStartAnim {
  from {
    rotate: 221deg;
    right: -26%;
    top: -12%;
    }

  to {
    right: 140%;
    top: 160%;
    /* rotate: 30deg; */
    rotate: 221deg;

  }


}

@keyframes showStartAnim2 {
  from {
    right: 100%;
    top: 90%;
    /* rotate: 30deg; */
    rotate: 30deg;

  }


  to {
    top: 40%;
    right: 0%;
    transform: translate(-50%, -50%);
    rotate: 0deg;

  }
}


html, body {
    background-image: url(assets/BACKGROUNDAsset\ 1.png);
    background-size: cover;
    height: 100%;
    overflow: hidden;   
     
}

#container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0;
  animation: showBody 2s 6.5s forwards;

}

#main-title {
    width: 70%;
}

#symbol {
    width: 50%;
}

#quote {
  width: 70%;
}

#slide1-moving-forward{
  width: 58% ;
}

#slide2-go-to-cmndr{
  width: 58% ;
}

#slide3-new{
  width: 58%;
  height: 95%;
  margin-bottom: 4%;
}

#slide4-library {
  width: 58%;
}

#slide5-temporary {
  width: 58%;
  height: 95%;
  margin-bottom: 4%;
}

#slide6-roles {
  width: 58%;
  height: 95%;
  margin-bottom: 4%;
}

#video {
  width: 100%;
  animation: videoAnim 2s 5s forwards;
}

#credit-gif {
  width: 45%;
  position: absolute;
  left: -11%;
  bottom: 0;
  z-index: 3;
}

#credit-img {
  width: 0%;
  position: absolute;
  left: 19%;
  top: 89%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#blur-div {
  background-color: wheat;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);
  z-index: 2;
  top: 0;
  display: none;
}

#body {
  opacity: 1;
}


#start-anim {
  position: absolute;
  opacity: 1;
  width: 50%;
  rotate: 221deg;
  right: -26%;
  top: -12%;
  z-index: 4;
  animation: showStartAnim 4s forwards;
  overflow: hidden;  

}
#start-anim2 {
  position: absolute;
  opacity: 1;
  width: 50%;
  z-index: 4;
  right: 100%;
  top: 95%;
  rotate: 30deg;
  animation: showStartAnim2 3s  3s forwards;
  overflow: hidden;

}

.wrapper{
    display: flex;
    max-width: 100%;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }

.wrapper {
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 5%;
}