html, body {
    background-image: url(../../assets/BACKGROUNDAsset\ 1.png);
    background-size: cover;
}

#tree {
    width: 90%;
    margin: 10%;
}

#go-back-to-main {
    position: absolute;
    width: 10%;
    right: 0;
    top: 1%;
}

#symbol {
    width: 45%;
    margin-top: 5%;
}

.roles {
    background-color: antiquewhite;
    width: 36%;
    height: 10%;
    position: absolute;
    display: none;
}

#sgan-mefaked-megama {
    top: 34%;
    left: 42%;
}